/* Google fonts api */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Rock+Salt&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    /* color scheme */
    --light: rgb(108, 152, 170);
    --dark: rgb(73, 101, 101);
    --turq1: rgb(154, 218, 224);
    --turq2: rgb(32, 198, 203);
    --turq3: rgb(30, 174, 169);
    --white1: rgb(239, 247, 233);
    --sand1: rgb(235, 225, 215);
    --sand1a: rgba(235, 225, 215, 0.4);
    --sand1a_2: rgba(235, 225, 215, 0.7);
    --sand2: rgb(241, 222, 196);
    --sand2a: rgba(241, 222, 196, 0.4);
    --textdark: rgb(117, 117, 132);
    /* hamburger menu */
    --bar_width: 40px;
    --bar_height: 6px;
    --bar_gap: 4px;
    --hamburger_margin: 10px;
    --timing: 300ms ease-in-out;
    --hamburger_height: calc(var(--bar_height) * 3 + var(--bar_gap) * 2);
}

body {
    padding: 0;
    color: var(--white1);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 100%;
}

.h2_hidden {
    display: none;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

nav {
    position: relative;
}

header {
    transition: var(--timing);
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 0 0 0 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background: var(--turq2);
    margin: 0;
}

header h1 {
    transition: var(--timing);
    font-family: "Rock Salt", cursive;
    align-self: center;
    font-size: 38px;
    color: var(--white1);
    margin-left: 20px;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

/* Navigation links */
.menu {
    height: 100%;
    width: auto;
    background: var(--turq3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    align-self: flex-end;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
}

.menu li {
    list-style-type: none;

    width: 100px;
    height: 90px;

    display: flex;

}

.menu li:hover,
.side_menu li:hover {
    transition: 200ms;
    background: var(--dark);
}

.menu a {
    text-decoration: none;
    color: inherit;

    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
}

.menu a p {
    margin: auto;
}

.active {
    background: var(--dark);
}


/* Main Content */
.main {
    display: flex;
    flex-direction: column;
    background-color: var(--sand1);
    flex: 1 0 auto;
    position: relative;
    width: 100%;
}

.hero_outer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background: lightblue;
}

.hero_image__index {
    height: 600px;
    width: 100%;
    background: url(../images/hero_image_min.jpg) no-repeat center;
    background-size: cover;
}

.cover_text {
    width: 35%;
    position: absolute;
    top: 55%;
    left: 5%;
    align-self: start;
    padding: 5px;
    background: rgb(73, 101, 101, 0.4);
    color: var(--sand1);
    font-size: 1.2em;
}

/* Blog section */

.blog__head {
    color: var(--textdark);
    position: absolute;
    left: 20px;
}

.blog__posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    padding: 15px;
    background-size: cover;
}

.blog__post {
    position: relative;
    margin: 1.5rem 0;
    height: 290px;
    width: 290px;
    background: rgb(183, 193, 202);
    border-radius: 15px;
    overflow: hidden;
}

div.blog__post:hover .blog__post__bg {
    opacity: 1;
}

.blog__post__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
    z-index: 1;
}

.blog__desc {
    position: relative;
    top: 50%;
    height: 50%;
    z-index: 5;
    display: flex;
    justify-items: center;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
    background-color: rgba(67, 138, 138, 0.685);
    padding: 10px;
    text-align: start;
}

.blog__desc h4 {
    padding: 3px;
}

/* Gallery */
.team {
    width: 100%;
    height: 600px;

    background: url(../images/beach_aerial_min.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    font-size: large;
    color: black;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    background-color: var(--turq3);
    padding: 4vw 0.2vw;
}


.gallery__thumb {
    width: 30vw;
    margin: 2px;
    aspect-ratio: 1/1;

    position: relative;
    overflow: hidden;
}

.gallery__img {
    width: 100%;
    transition: 2s;
    aspect-ratio: 1/1;
}

.gallery__img:hover {
    transform: scale(1.1);
    aspect-ratio: auto;
    position: absolute;
    z-index: 2;
}

/* footer */

.map {
    display: flex;
}

.gmap {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.footer {
    background: var(--turq2);
    height: 50px;
    display: flex;
    justify-content: center;
    color: var(--white1);
}

.socials {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: inherit;

}

.socials li {
    list-style-type: none;
    font-size: 20px;
    color: inherit;
    padding: 0 20px;
}

.socials li:hover {
    color: var(--dark);
    cursor: pointer;
}

/* Blog page */

.featured {
    position: relative;
    background-color: var(--sand1);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    padding: 1.5em;
}

.featured h3 {
    position: absolute;
    top: 3%;
    left: 3%;
    color: var(--textdark);
}

.blog__header {
    background: var(--turq3);
    padding: 5px;
    padding-left: 27px;
}

.blog__list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background: url(../images/blog_stock_min_cropped.jpg) no-repeat center;
    background-size: cover;
    border-top: var(--turq3) solid 2em;
    border-bottom: var(--turq3) solid 2em;
}


.article__list {
    background-color: var(--dark);
    flex-basis: 20em;
    padding-top: 10px;
}

.article__list h3 {
    padding: 10px;
    color: var(--sand1)
}

.article__list li {
    font-family: Monserrat;
    padding: 10px
}

.article__list li:hover {
    background-color: var(--turq3);
    cursor: pointer;
}

.article__list ol {
    list-style: none;
}

.write_us {
    flex-basis: 25em;
    height: max-content;
    padding: 20px;
    margin-top: auto;
    margin-left: auto;
}

.write_us a {
    text-decoration: none;
    color: var(--sand1);
    font-size: 1.2em;
    padding-left: 2em;
}

.write_us ul {
    padding: 10px;
    padding-left: 2em;
}

.write_us ul li {
    padding: 3px;
}

/* Contact */

.main_contact {
    height: 90vh;
    width: 100%;
    background: url(../images/longboard_beach_min.jpg) no-repeat center;
    background-size: cover;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contact {
    height: 26vw;
    width: 45vw;
    background-color: var(--sand1a);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(117, 117, 132);
}



.label_hidden {
    display: none;
}

.contact_form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.radio_btn {
    display: flex;
    width: fit-content;
}

.label_visible {
    color: rgb(117, 117, 132);
    font-size: 17px;
    display: flex;
    gap: 10px;
}

.text_input {
    background: var(--sand2a);
    border: none;
    outline: none;
    padding: 3px;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    width: 40%;
}

.submit_button,
.a_back {
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 7px 15px;
    width: 200px;
    outline: none;
    border: none;
    color: rgb(117, 117, 132);
    font-family: Montserrat, sans-serif;
    background-color: var(--sand2);
}

.submit_button:hover,
.a_back:hover {
    color: initial;
    cursor: pointer;
}

.gmap_contact {
    width: 26vw;
    height: 26vw;
}

/* Hamburger Menu from Web Dev Simplified*/

.hamburger_menu input {
    display: none;
}

.side_menu {
    display: none;
}

/* Smaller screens */
@media screen and (max-width: 800px) {
    .main_menu {
        display: none;
    }

    .hamburger_nav {
        position: absolute;
        z-index: 2;
        right: 0px;
        overflow: hidden;
        height: 100vh;
        width: 100px;
    }

    .hamburger_menu {
        --x-width: calc(var(--hamburger_height) * 1.41421356237);
        --foreground: var(--sand1);
        --background: var(--dark);

        display: flex;
        flex-direction: column;
        gap: var(--bar_gap);
        width: max-content;
        position: absolute;
        top: var(--hamburger_margin);
        right: var(--hamburger_margin);
        z-index: 3;
        cursor: pointer;
    }

    .hamburger_menu input {
        display: block;
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }

    .hamburger_menu::before,
    .hamburger_menu::after,
    .hamburger_menu input {
        content: "";
        width: var(--bar_width);
        height: var(--bar_height);
        border-radius: 50px;
        background-color: var(--foreground);
        transform-origin: right center;
        transition: var(--timing);
    }

    .hamburger_menu:has(input:checked)::before {
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar_height) / -2);
    }

    .hamburger_menu:has(input:checked)::after {
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar_height) / 2);
    }

    .hamburger_menu input:checked {
        opacity: 0;
        width: 0;
    }

    .hamburger_menu:has(input:checked) {
        --foreground: var(--dark);
    }

    .sidebar {
        display: block;
        left: 100%;
        top: 48px;
        transition: translate var(--timing);
        min-height: 100vh;
        background-color: var(--turq3);
        position: absolute;
        z-index: 2;
    }

    .side_menu {
        display: block;
    }

    .hamburger_menu:has(input:checked)+.sidebar {
        translate: -100%;
        display: block;
    }

    /* header */
    header h1 {
        transition: var(--timing);
        font-size: 20px;
    }

    /* contact page */

    .gmap_contact {
        display: none;
    }

    .contact {
        width: 85%;
        height: 85%;
        background-color: var(--sand1a_2);
    }

    .text_input {
        width: 98%
    }

    .submit_button {
        width: 98%;
    }

    /* Gallery */
    .team {
        height: 400px;
    }

    /* home cover text */
    .cover_text {
        left: 0%;
        top: 0%;
        height: 100%;
    }
}