/* Google fonts api */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Belanosima&family=Poppins:ital,wght@0,200;0,300;1,300&family=Rock+Salt&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root{
    --light: rgb(108, 152, 170);
    --dark: rgb(73, 101, 101);

    --turq1: rgb(154, 218, 224);
    --turq2: rgb(32, 198, 203);
    --turq3: rgb(30, 174, 169);

    --white1: rgb(239, 247, 233);

    --sand1: rgb(235, 225, 215);
    --sand2: rgb(241, 222, 196);

}
body{
    /* border: solid red 5px; */
    padding: 0;
    color: var(--white1);
    font-family:'Poppins';
}

h2, h3, h4, h5, h6 {
    font-family: 'Amatic SC';
}
header {
    position: fixed;
    z-index: 10;
    padding: 0 0 0 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-content: center;
    /* background: rgb(116, 197, 177); */
    background: var(--turq2);
    /* background: linear-gradient(180deg, rgba(32,198,203,1) 0%, rgba(30,174,169,1) 64%); */

    margin:0;
    /* box-shadow: 0 3px 4px var(--turq3); */
}

header h1 {
    font-family: "Rock Salt", cursive;
    align-self: center;
    font-size:38px;
    color: var(--white1);

    margin-left: 20px;
}

h1 a{
    text-decoration: none;
    color: inherit;
}
/* Navigation links */
.menu {
    height: 100%;
    width: auto;
    background: var(--turq3);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-content: center;
    flex-wrap: wrap;
    /* margin: 10px 0 0 0; */
    align-self: flex-end;

    font-family: 'Amatic SC';
    font-size: 1.5em;
    /* font-weight: bold; */
    /* font-style: bold; */
    /* color: var(--sand2);     */
    /* border:rgb(22, 22, 22) solid 1px; */
}

.menu li {
    /* flex:auto; */
    list-style-type: none;
    /* border-right: rgb(0, 0, 0) solid 1px; */
    /* padding-right: 50px; */
    /* margin: 10px 20px; */
    /* padding: 36.5px 20px; */
    /* background: pink; */

    width:100px;
    height: 90px;

    display: flex;

}

.menu li:hover {
    background: var(--dark);
}
/* 
.menu li:last-child {
    border-right: none;
} */

.menu a {
    text-decoration: none;
    color: inherit;

    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
}

.menu a p {
    margin: auto;
}

.active {
    background: var(--dark);
}


/* Main Content */
.main{
    display: flex;
    flex-direction: column;  
    background-color: var(--sand1);
}
.hero_outer {
    display: flex;
    flex-direction: column;
    position: relative;

    background: lightblue;
}
.hero_image {
    height: 600px;
    width: 100%;
    background: url(../images/hero_image.jpg) no-repeat center;
    background-size: cover;
}

.cover_text {
    width: 35%;
    position: absolute;
    top: 68%;
    margin-left: 10%;
    align-self: start;
    padding:5px;
    background: rgba(255, 116, 116, 0.4) ;
    color: rgb(236, 236, 236);
    font-size:1.2em;
}

/* Blog section */

.blog__head {
    /* background: pink; */
    position: absolute;
    left: 20px;
    /* top: -5px; */
}

.blog__posts {
    /* background: var(--light); */
    /* padding-bottom: 1.5rem; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    padding: 15px;
   
    /* background: url(../images/blog_stock.jpg) no-repeat center ; */
    
    background-size: cover;
}

.blog__post {
    position: relative;
    margin: 1.5rem 0;
    height: 290px;
    width: 290px;    
    background: slategray;
}

.blog__post:hover{
    .blog__post__bg{
        opacity: 1;
    }
}

.blog__post__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* background: red; */
    /* background: url(../images/blog_stock.jpg) no-repeat center ;
    background-size: cover; */
    opacity: 0.4;
    z-index: 1;
}

.blog__desc {
    position: relative;
    top: 50%;
    height: 50%;
    z-index: 5;    
    display: flex;
    justify-items:center;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
    background-color: rgba(67, 138, 138, 0.685);
}


/* Gallery */
.team {
    width: 100%;
    height: 600px;

    background: url(../images/beach_aerial.jpg) no-repeat center; 
    background-size: cover;
    text-align: center;
    font-size: large;
    color: black;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    border: solid var(--dark) 2vw;
    /* border-right: solid var(--dark) 2.5vw;     */
    padding: 1vw;
    /* max-width: 30vw; */
}
/* .gallery {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 4px;
    overflow: hidden;
} */
.gallery__thumb {
    /* justify-self: center; */
    width: 30vw;
    /* width:100%; */
    margin: 2px;
    aspect-ratio: 1/1;

    position: relative;
    overflow: hidden;
}

.gallery__img {
    /* max-width: 25vw; */
    width:100%;
    /* margin: 2px; */
    transition: 2s;
    aspect-ratio: 1/1;
    /* object-fit: scale-down; */
    /* position: relative; */
}

.gallery__img:hover{
    transform: scale(1.1);
    aspect-ratio: auto;
    /* max-width: 50vw; */
    position: absolute;
    z-index: 2;
}

/* footer */
footer {
    position: relative;

    /* top: 100vh; */
}

.map {
    display: flex;
}

.footer {
    background: var(--turq2);
    height: 30px;
    display: flex;
    justify-content: center;
}

.socials {
    width: 25%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.socials li {
    list-style-type: none;
}

